.DS_Store
.ipynb_checkpoints/
NLP practice/
data/
drafts/
prompts_tutorial_wu_enda/
review_data/
temp.csv
embeddings/
embeddings_2/
test_payload/
tensorflow/
graphs/
plot_result.ipynb
iot2023_full/
iot2023/
iot_2023_csv/
iot_2023_embeddings/
iot23/
self_data_cc_log/
pyscipy/
public_cc_log/
DoS_tcp_flood_csv/
py310/
DoS_tcp_flood_embedding/
iot_23_embeddings/
py311/